In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/input/IMDB-Movie-Data.csv')
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [3]:
#challenge 1
def bins(x):
    if x > 0 and x <= 999:
        return 1
    if x > 1000 and x <= 9999:
        return 2
    if x > 10000 and x <= 99999:
        return 3
    if x > 100000 and x <= 999999:
        return 4
    if x >= 1000000:
        return 5

In [4]:
df['bin'] = df['Votes'].apply(bins)

In [5]:
df['bin'] = df.apply(lambda x: bins(x['Votes']), axis=1)

In [6]:
#challenge 2
def revenue_minute(x, y):
    return x/y

In [7]:
df['revenue per minute'] = df.apply(lambda x: revenue_minute(x['Revenue (Millions)'], x['Runtime (Minutes)']), axis=1).round(2)

In [19]:
thriller_filter = df[df['Genre'].str.contains('Thriller')]
comedy_filter = df[df['Genre'].str.contains('Comedy')]

In [14]:
def points(x, y):
    if x.str.cont:
        return x = x + 1
    if df['Genre'].str.contains('Comedy') == True:
        return x = x - 1

SyntaxError: invalid syntax (<ipython-input-14-cb1c8a511d7f>, line 3)

In [15]:
df['new ranking'] = df['Rating'].apply(thriller_filter)

TypeError: 'Series' object is not callable